<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Bad Captcha
      </mat-panel-title>
      <mat-panel-description>
        A terrible captcha experience!
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-bad-captcha></app-bad-captcha>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Bad Terms and Conditions
      </mat-panel-title>
      <mat-panel-description>
        Hope you've got a good memory!
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-bad-terms-and-conditions></app-bad-terms-and-conditions>
  </mat-expansion-panel>
</mat-accordion>
