<p>
  <mat-icon>face</mat-icon>
  <span>Hey, my name is&nbsp;</span>
  <span class="highlight">Ben</span>
  <span>.&nbsp;</span>
  <span>I've been a web developer since&nbsp;</span>
  <span class="highlight">2015</span>
  <span>.</span>
</p>
<p>
  <mat-icon>schedule</mat-icon>
  <span> I built this website in&nbsp;</span>
  <span class="highlight">a few hours&nbsp;</span>
  <span> as a demo.</span>
</p>
<p>
  <mat-icon>code</mat-icon>
  <span> It's written in&nbsp;</span>
  <span class="highlight">Angular 12&nbsp;</span>
  <span> via the&nbsp;</span>
  <span class="highlight">angular cli</span>
  <span>, with&nbsp;</span>
  <span class="highlight">Typescript&nbsp;</span>
  <span>and&nbsp;</span>
  <span class="highlight"> SCSS</span>
  <span>.</span>
</p>
<p>
  <mat-icon>dns</mat-icon>
  <span>It's hosted through&nbsp;</span>
  <span class="highlight">AWS Lightsail&nbsp;</span>
  <span>with&nbsp;</span>
  <span class="highlight">Route 53</span>
  <span>.</span>
</p>

<p>&nbsp;</p>

<p>
  <mat-icon>done</mat-icon>
  <span>See <a [routerLink]="['/', 'resume']">my resume</a>, or check out <a [routerLink]="['badui']">the Bad UI page</a> for some terrible ideas!</span>
</p>
