<p>
  <mat-icon>schedule</mat-icon>
  <span> I built this website in&nbsp;</span>
  <span class="highlight">a few hours&nbsp;</span>
  <span> as a demo.</span>
</p>
<p>
  <mat-icon>code</mat-icon>
  <span> It's written in&nbsp;</span>
  <span class="highlight">Angular 12&nbsp;</span>
  <span> via the&nbsp;</span>
  <span class="highlight">angular cli</span>
  <span>, with&nbsp;</span>
  <span class="highlight">Typescript&nbsp;</span>
  <span>and&nbsp;</span>
  <span class="highlight"> SCSS.</span>
</p>
<p>
  <mat-icon>dns</mat-icon>
  <span>It's hosted through&nbsp;</span>
  <span class="highlight">AWS Lightsail&nbsp;</span>
  <span>with&nbsp;</span>
  <span class="highlight">Route 53</span>
  <span>.</span>
</p>
