<mat-toolbar>
  <span>Benjamin Yocum</span>
  <span class="right-spacer"></span>
  <button mat-button [routerLink]="['resume']" aria-label="Example icon-button with heart icon">
    Resume
  </button>
  <button mat-button [routerLink]="[]" aria-label="Example icon-button with heart icon">
    Bad UI
  </button>
  <button mat-button [routerLink]="['about']" aria-label="Example icon-button with share icon">
    About
  </button>
</mat-toolbar>

<div id="main-container">
  <router-outlet></router-outlet>
</div>
