#toggles-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;

  mat-slide-toggle {
    flex: 0 0 33.3333%;
  }
}

#submit-button-container {
  display: flex;
  padding-top: 10px;

  span {
  }
}
