mat-spinner {
  margin-left: auto;
  margin-right: auto;
}

#resume-iframe {
  border: none;
  overflow: hidden;
  width: 870px;
  height: 870px;
  margin-left: auto;
  margin-right: auto;
}

#resume-iframe-container {
  display: flex;
  align-items: center;
}
