#resume-iframe {
  border: none;
  overflow: hidden;
  width: 840px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#resume-iframe-container {
  height: calc(100% - 150px);
  padding:40px;
  display: flex;
  align-items: center;
}
